/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.phpunit.result.cache
composer.lock
database/database.sqlite
.git
.gitignore
docker-compose.yml
.env
Dockerfile
.dockerignore
node_modules
vendor
storage/logs/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*